<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/formularioRamos.css'%}">
    <title>Ramos</title>
</head>
<body class="container mt-5">
    <div>LISTADO DE RAMOS </div>
    {% if ramos %}
    <table class="table">
        <thead>
            <tr> 
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Carrera</th>
                <th>Créditos</th>
                <th>Horas</th>
                <th>Sala</th>
            </tr>
        </thead>
        <tbody>
            {% for r in ramos %}
                <tr> 
                    <td scope="row">{{ r.idRamo }}</td>
                    <td>{{ r.nombre }}</td>
                    <td>{{ r.descripcion }}</td>
                    <td>{{ r.carrera }}</td>
                    <td>{{ r.creditos }}</td>
                    <td>{{ r.horas }}</td>
                    <td>{{ r.sala }}</td>
                    <td>
                        <a href="{% url 'eliminar_ramo' r.idRamo %}">Eliminar</a>
                    </td>
                    <td>
                        <a href="{% url 'modificar_ramo' r.idRamo %}">Modificar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div>No hay ramos</div>
{% endif %}
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'ramosData' %}">Ramos</a></li>
        <li><a href="{% url 'formularioramos' %}">Formulario Ramos</a></li>
        <li><a href="{% url 'profesorData' %}">Profesor</a></li>
        <li><a href="{% url 'formulario_profesor' %}">Formulario Profesor</a></li>
        <li><a href="{% url 'crear_alumno' %}">Formulario Alumno</a></li>
        <li><a href="{% url 'lista_alumnos' %}">Alumnos</a></li>
    </ul>
</nav>
</body>
</html>