{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/formularioRamos.css'%}">
    <title>Formulario Ramos</title>
</head>
<body>
    <h1>Formulario de ramos</h1>
    <form method="post" action="{% url 'formularioramos' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="modo" value="{{ modo }}">
        <input type="hidden" name="idRamo" value="{{ idRamo }}">
        <button type="submit" value="Registrar">Enviar</button>
    </form>
</body>
</html>