<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <nav>
        <ul>
            <li><a href="{% url 'crear_alumno' %}">Registrar Alumno</a></li>
            <li><a href="{% url 'lista_alumnos' %}">Lista de Alumnos</a></li>
            <li><br></li>
            <li><a href="{% url 'formulario_profesor' %}">Registrar Profesor</a></li>
            <li><a href="{% url 'profesorData' %}">Lista de Profesor</a></li>
            <li><br></li>
            <li><a href="{% url 'formularioramos' %}">Crear Ramos</a></li>
            <li><a href="{% url 'ramosData' %}">Lista deRamos</a></li>
        </ul>
    </nav>
</body>
</html>
