<!DOCTYPE html>
<html>
<head>
    <title>Editar Alumno</title>
</head>
<body>
    <h1>Editar Alumno</h1>
    <nav>
        <ul>
            <li><a href="{% url 'ramosData' %}">Ramos</a></li>
            <li><a href="{% url 'formularioramos' %}">Formulario Ramos</a></li>
            <li><a href="{% url 'profesorData' %}">Profesor</a></li>
            <li><a href="{% url 'formulario_profesor' %}">Formulario Profesor</a></li>
            <li><a href="{% url 'crear_alumno' %}">Formulario Alumno</a></li>
            <li><a href="{% url 'lista_alumnos' %}">Alumnos</a></li>
        </ul>
    </nav>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar cambios">
    </form>
    <a href="{% url 'lista_alumnos' %}">Volver a la lista de alumnos</a>

</body>
</html>
