{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/formularioRamos.css'%}">
    <title>Formulario Profesor</title>
</head>
<body>
    <h1>Formulario de Profesor</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>

        </ul>
    </nav>
    <form method="post" action="{% url 'formulario_profesor' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Registrar">Enviar</button>
    </form>

</body>
</html>