<!DOCTYPE html>
<html>

<head>
    <title>Profesores</title>
</head>

<body>
    <a href="{% url 'home' %}">Home</a>
    <h1>LISTADO DE PROFESORES</h1>
    <nav>
        <ul>
            <li><a href="{% url 'formulario_profesor' %}">Registrar Profesor</a></li>
        </ul>
    </nav>
    {% if profesores %}
    <table>
        <tr>
            <th>RUT</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Área</th>
            <th>Email</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        {% for profesor in profesores %}
        <tr>
            <td>{{ profesor.RUT }}</td>
            <td>{{ profesor.nombre }}</td>
            <td>{{ profesor.apellido }}</td>
            <td>{{ profesor.Telefono }}</td>
            <td>{{ profesor.Area }}</td>
            <td>{{ profesor.Email }}</td>
            <td>
                <a href="{% url 'modificar_profesor' profesor.id %}">Editar</a>
            </td>
            <td>
                <a href="{% url 'eliminar_profesor' profesor.id %}">Eliminar</a>

            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div>No hay profesores</div>
    {% endif %}

</body>

</html>
