{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/formularioProfesor.css' %}">
    <title>Profesores</title>
</head>

<body class="container mt-5">
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>

        </ul>
    </nav>

    <div>LISTADO DE PROFESORES</div>
    {% if profesores %}
    <table class="table">
        <thead>
            <tr>
                <th>RUT</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Área</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for profesor in profesores %}
            <tr>
                <td>{{ profesor.RUT }}</td>
                <td>{{ profesor.nombre }}</td>
                <td>{{ profesor.apellido }}</td>
                <td>{{ profesor.Telefono }}</td>
                <td>{{ profesor.Area }}</td>
                <td>{{ profesor.Email }}</td>
                <td>
                    <a href="{% url 'eliminar_profesor' profesor.id %}">Eliminar</a>
                </td>
                <td>
                    <a href="{% url 'modificar_profesor' profesor.id %}">Modificar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div>No hay profesores</div>
    {% endif %}

</body>

</html>